<style>
/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }

#post-listing a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

small a {
    opacity: 0.5;
    color: #000;
}

.intro {
    font-family: monospace;
    font-size: .8em;
    font-style: italic;
    line-height: 1rem;
}

body {
  min-width: 300px;
  font-family: "PT Sans", Consolas, sans-serif;
  line-height: 1.7rem;
  word-spacing: 0.2rem;
  background: url("bg.jpg") white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article > p > a {
    text-decoration: underline;
}

.custom-navbar {
  margin-bottom: 1em;
  height: 60px;
}

.custom-navbar a {
  display: inline-block;
  padding: 18px 0;
  margin-right: 1em;
  font-weight: bold;
}

.custom-navbar a:hover,
.custom-navbar a:focus {
  text-decoration: none;
}

@media print {
  .custom-navbar {
    display: none;
  }
}

article {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

{{ with .Site.Params.contentBackgroundColor }}
body {
  background-color: {{ . | safeCSS }};
}
{{ else }}
body {
  background-color: #fff;
}
{{ end }}

{{ with .Site.Params.contentTextColor }}
body {
  color: {{ . | safeCSS }};
}
{{ else }}
body {
  color: #212529;
}
{{ end }}

{{ with .Site.Params.contentLinkColor }}
a {
  color: {{ . | safeCSS }};
}
{{ else }}
a {
  color: #007bff;
}
{{ end }}

{{ with .Site.Params.contentLinkHoverColor }}
a:hover,
a:focus {
  color: {{ . | safeCSS }};
}
{{ else }}
a:hover,
a:focus {
  color: #0056b3;
}
{{ end }}

{{ with .Site.Params.navbarBackgroundColor }}
.custom-navbar {
  background-color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar {
  background-color: #212529;
}
{{ end }}

{{ with .Site.Params.navbarLinkColor }}
.custom-navbar a {
  color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar a {
  color: rgba(255,255,255,.75);
}
{{ end }}

{{ with .Site.Params.navbarLinkHoverColor }}
.custom-navbar a:hover,
.custom-navbar a:focus {
  color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar a:hover,
.custom-navbar a:focus {
  color: rgba(255,255,255,1);
}
{{ end }}

{{ with .Site.Params.wrapperMaxWidth }}
.container {
  max-width: {{ . | safeCSS }};
}
{{ else }}
.container {
  max-width: 960px;
}
{{ end }}

{{ if eq .Site.Params.customCodeStyle true }}
pre {
  display: block;
  padding: 2px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #E2E2E2;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: 5px 5px 5px grey;
}

pre code {
  padding: 0;
  font-size: .7em;
  line-height: 1.8;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

code {
  padding: 2px 2px;
  color: #E71D36;
  background-color: #f5f5f5;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  font-size: .7em;
  font-family: 'Menlo', monospace;
  word-spacing: 0em;
}
{{ end }}

{{ if eq .Site.Params.customBlockquoteStyle true }}
blockquote,
.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1em;
  border-left: 5px solid #6c757d;
}
{{ end }}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .intro {
      display: none;
  }
}
</style>
